<a href="https://colab.research.google.com/github/jeongkeona/bigdata/blob/main/AI_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_Reg_Q_%EC%A0%95%EA%B1%B4%EC%95%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# group1.csv를 읽어 group1 변수에 저장하세요.
import pandas as pd

group1 = pd.read_csv('group1.csv')
group1.head()

         Date       Y      x1       x2       x3  ...  x31    x32  x62  x63     x64
0  2016-01-01  7.9250  7.9032  539.985  692.547  ...  4.4  0.342  0.0  0.0  606.34
1  2016-01-02  7.9708  7.9372  539.977  692.549  ...  4.4  0.344  0.0  0.0  606.82
2  2016-01-03  8.0370  7.9719  539.982  692.858  ...  4.5  0.351  0.0  0.0  606.44
3  2016-01-04  7.9989  7.8980  539.980  693.570  ...  4.5  0.358  0.0  0.0  605.76
4  2016-01-05  7.9976  7.8382  539.980  694.041  ...  4.5  0.358  0.0  0.0  606.09

[5 rows x 37 columns]

In [ ]:
# 알맞는 알고리즘을 선택하여 모델링하고, 모델링후의 성능을 출력하세요.